# GEMINI_API_KEY: Required for Gemini AI API calls.
# GEMINI_API_KEY=MY_GEMINI_API_KEY

# Supabase Configuration
SUPABASE_URL=https://mzhhrkwnrrhclbtiszfv.supabase.co
SUPABASE_ANON_KEY=sb_publishable_DX0A-0wK3t027pwVsAKiSg_nniWUANw

